.info {
  padding: 100px;
  height: 100%;
}

.input {
  padding: 100px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input > * {
  margin-left: 100px;
}

.input > * > * {
  margin-left: 10px;
}

.app {
  height: 100%;
  display: flex;
}